$text-bold: 'Raleway-Bold', sans-serif;
$text-semibold: 'Raleway-SemiBold', sans-serif;
$text-regular: 'Raleway-Regular', sans-serif;


$color-one: #fff;
$color-two: #000;
$color-three: #888e10;
$color-four: #004340;
$color-five: #53585d;